.search-bar {
  margin: 30px 0 0 30px;
  width: 400px;
  height: 25px;
}

.search-bar-input {
  width: 400px;
  height: 25px;
}

.search-bar-input:focus {
  outline: none;
}

.autopopulated-results {
  width: 400px;
  height: 100px;
  margin-left: 30px;
  margin-top: 5px;
}

.testing:hover {
  background-color: red;
}