body {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.search-bar {
  margin: 30px 0 0 30px;
  width: 600px;
  height: 25px;
}

.search-bar-input {
  width: 400px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
}

.search-bar-input:focus {
  outline: none;
}

.autopopulated-results {
  width: 403px;
  height: 100px;
  margin-left: 30px;
  margin-top: 3px;
  padding-top: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hover-change:hover {
  background-color: rgba(128, 128, 128, 0.51);
}

.search-button {
  width: 61px;
  height: 31px;
  padding-top: 5px;
  font-size: 12px;
  border-radius: 5px;
}